/******General Stuff******/

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder !important;
    font-family: sans-serif;
    color: #DBE0E3 !important;
}
.content-container {
    background-color: #373D44 !important;
    padding-top: 90px;
    height: 100%;
    width: 100%;
    z-index: -10;
}
.tabs.tab-nav {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
}
.spinner svg {
    width: 100px !important;
    height: 100px !important;
}

/******Playlists Stuff******/

#music-logs-container {
    display: flex;
    flex-direction: column;
    z-index: -15;
}
#music-logs-head {
    position: relative;
    order: 1;
    flex: 0 1 85px;
    min-height: 85px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: -5;
}
#music-logs-scroll {
    flex: 0 1 auto;
    order: 2;
    width: 100%;
    z-index: -10;
}
#music-logs {
}
#music-logs-wrapper {
    position: relative;
}
#music-logs-loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: .3;
    z-index: 10;
}
#music-logs-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    height: 100px;
    width: 100px;
    opacity: 1 !important;
    z-index: 1000;
}
#music-logs-prev {
    position: absolute;
    left: 10%;
}
#music-logs-next {
    position: absolute;
    right: 10%;
}
.music-entry {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 0 5% 0 5%;
    width: 100%;
    text-align: left;
    color: #FFF;
}
.music-entry-time {
    order: 1;
    font-size: 1.2em;
    width: 30%;
    flex-shrink: 0;
}
.music-entry-details {
    order: 2;
    padding-left: 10px;
}
.bg-1 {
    background-color: #373D44;
}
.bg-2 {
    background-color: #1B2527;
}
.music-logs-button {
    color: #DBE0E3 !important;
}

/******Stream Player Stuff******/

#headline {
    font-family: "Montserrat";
    font-size: 40px;
}
#audioUI {
    width: 100%;
    border: none;
    position: fixed;
    top: 40%;
}
#play-pause-container {
    position: relative;
    text-align: center;
    width: 100%;
}
#play-button {
    display: block;
    margin: -50px auto auto auto;
    z-index: 1;
    fill: #DBE0E3;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}
#pause-button {
    display: block;
    margin: -50px auto auto auto;
    text-align: center;
    z-index: 1;
    fill: #DBE0E3;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}
#stream-spinner {
    position: absolute;
    left: 50%
    margin-left: -100px;
    z-index: 10;
}
#current-song {
    position: absolute;
    bottom: 45px;
    width: 100%;
}
.nowplaying {
    font-weight: 100 !important;
    text-align: center;
}
#nowplaying-song {

}
#nowplaying-artist {
    font-style: italic;
}
