  /******General Stuff******/

  h1, h2, h3, h4, h5, h6 {
    font-weight: bolder !important;
    font-family: sans-serif;
    color: #DBE0E3 !important;
  }

  .content-container {
    background-color: #373D44 !important;
    padding-top: 90px;
    height: 100%;
    width: 100%;
    z-index: -10;
  }

  .tabs.tab-nav {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
  }

  .tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #007685 !important;
    border-color: #007685 !important;
  }
  /******Toast Notifications******/

  .toast {
    z-index: 1000;
    margin: 0 10% 0 10%;
    position: fixed;
    display: inline-block;
    bottom: 20px;
    min-height: 20px;
    width: 80%;
    background-color: #DBE0E3;
    opacity: 1.0;
    transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;
    border-radius: 10px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .toast.hidden {
    opacity: 0.0;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
  }

  .toast-message {
    width: 100%;
    color: #111;
    text-align: center;
    font-family: sans-serif;
    vertical-align: middle;
  }
  /******Playlists Stuff******/

  #music-logs-container {
    display: flex;
    flex-direction: column;
    z-index: -15;
  }

  #music-logs-head {
    position: relative;
    order: 1;
    flex: 0 1 auto;
    min-height: 80px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: -5;
  }

  #music-log-date {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 200 !important;
    font-size: 1.6em;
  }

  #music-logs-scroll {
    flex: 0 1 auto;
    order: 2;
    width: 100%;
    height: 100%;
    z-index: -10;
  }

  #music-logs-wrapper {
    display: flex;
    height: 100%;
  }

  #logs-spinner {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    z-index: 15;
    opacity: 1;
  }

  #music-logs {
    height: 100%;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    flex: 1 1 auto;
  }

  #music-logs-prev {
    position: absolute;
    bottom: 18px;
    left: 10%;
  }

  #music-logs-next {
    position: absolute;
    bottom: 18px;
    right: 10%;
  }

  .music-logs-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    position: relative;
    background-color: #DBE0E3;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
  }

  .music-logs-button:active {
    background-color: #C1C6C9;
  }

  div.scroll {
    height: inherit;
  }

  .slide {
    position: absolute;
    top: 0;
    width: 100vw;
    transition: transform .2s ease-in;
  }

  .slide.active {
    height: auto;
    transform: translate3d(0px, 0, 0);
    transition-timing-function: ease-out;
  }

  .slide.before {
    transform: translate3d(-130vw, 0, 0);
  }

  .slide.after {
    transform: translate3d(130vw, 0, 0);
  }

  .music-entry {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 0 5%;
    width: 100%;
    text-align: left;
    color: #DBE0E3;
  }

  .music-entry-time {
    order: 1;
    font-size: 1.2em;
    width: 30%;
    flex-shrink: 0;
  }

  .music-entry-details {
    order: 2;
    padding-left: 10px;
  }

  .bg-1 {
    background-color: #373D44;
  }

  .bg-2 {
    background-color: #1B2527;
  }
  /******Stream Player Stuff******/

  #headline {
    font-size: 40px;
  }

  #audioUI {
    width: 100%;
    border: none;
    position: fixed;
    top: 40%;
  }

  #play-pause-container {
    position: relative;
    text-align: center;
    width: 100%;
  }

  #play-pause-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(55, 61, 68, 0.5);
  }

  #play-button {
    display: block;
    margin: -50px auto auto;
    z-index: 1;
    fill: #DBE0E3;
    border-radius: 50%;
  }

  #pause-button {
    display: block;
    margin: -50px auto auto;
    text-align: center;
    z-index: 1;
    fill: #DBE0E3;
    border-radius: 50%;
  }

  #bounce {
    border-color: #DBE0E3;
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 180px;
    height: 180px;
    z-index: -1;
    margin: auto;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    transition: border-width 0.2s;
  }

  #pause-button.loading {
    fill: #9A9EA0;
  }

  #stream-spinner {
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    z-index: 15;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  #current-song {
    padding: 0 10px 0 10px;
    position: absolute;
    bottom: 45px;
    width: 100%;
  }

  .nowplaying {
    font-weight: 100 !important;
    text-align: center;
  }

  #nowplaying-artist {
    font-style: italic;
  }
  /* CONTACT */

  .request-line {
    height: 80px;
    position: relative;
    width: calc(80% - 80px);
    margin: 10px auto;
    background-color: #007685;
    line-height: 80px;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 10px 9px -12.5px #000, 0px -10px 8px -12.5px #000;
    font-weight: 100 !important;
    font-family: sans-serif;
  }

  .request-line::before {
    content: ' ';
    position: absolute;
    left: -40px;
    top: 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #007685;
    z-index: -1;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
  }

  .request-line::after {
    content: ' ';
    position: absolute;
    right: -40px;
    top: 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #007685;
    z-index: -1;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
  }

  .request-line-text {
    position: absolute;
    left: -20px;
    width: calc(100% + 40px);
  }

  .request-line-text:active {
    text-decoration: none;
    color: inherit;
  }

  .contact-label {
    position: relative;
    color: #DBE0E3;
    width: calc(80% - 10px);
    margin: auto;
    line-height: 10vh;
    font-size: 1.6em;
    text-align: center;
    vertical-align: middle;
    font-weight: 100 !important;
    font-family: sans-serif;
  }

  .social-media-table {
    position: relative;
    margin: auto;
    margin-top: calc(6vh - 24px);
  }

  .social-media-table>td {
    position: relative;
    height: 20vw;
    width: 20vw;
    filter: drop-shadow(10px 10px 20px black);
  }

  .social-link {
    position: relative;
    height: 25vw;
    width: 25vw;
    padding: 1rem;
  }
