/******General Stuff******/

h1, h2, h3, h4, h5, h6{
	font-weight: bolder !important;
	font-family: sans-serif;
	color: #DBE0E3 !important;
}

.content-container{
	background-color: #373D44 !important;
	padding-top: 90px;
	height: 100%;
	width: 100%;
	z-index: -10;
}

.tabs.tab-nav{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
}

ionspinner svg {
	width: 100px;
	height: 100px;
}

/******Playlists Stuff******/

.music-entry{
	display: block;
	padding: 5%;
	width: 100%;
	text-align: left;
	color: #FFF;
	background-color: #F00;
}

.bg-1{
	background-color: #374244;
}

.bg-2{
	background-color: #1B2527;
}

.music-logs-button{
	color: #DBE0E3 !important;
}

/******Stream Player Stuff******/

#headline
{
	font-family: "Montserrat";
	font-size: 40px;
}

#audioUI{
	width: 100%;
	border: none;
	position: fixed;
	top: 40%;
}

#play-button{
	position: relative;
	display: block;
	margin: auto;
	z-index: 1;
	fill: #DBE0E3;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
	border-radius: 50%;
}

#pause-container{
	position: relative;
	text-align: center;
	width: 100%;
}

#pause-button{
	display: block;
	margin: auto;
	text-align: center;
	z-index: 1;
	fill: #DBE0E3;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
	border-radius: 50%;
}

#stream-spinner{
	position: absolute;
	top: 80px;
	left: 45%;
	width: 10%;
	z-index: 10;
}
